body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #935FA7;
}

#game-container{
    height: 100vh;
    padding: 10px;
}

#header{
    border: 1px solid;
    height: 10%;
}

#game-area{
    /* padding: 5px; */
    overflow: hidden;
    height: 95%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 8px solid #9B489B;
}

.game-area__div-hover{
    background-color: #B594B6;
    margin: 0;
    width: 10px;
    height: 10px;
}

.game-area__div-hover:hover{
    width: 8px;
    height: 8px;
    background-color: #935FA7;
    border: 1px solid black;
}

#footer{
    border: 1px solid;
    height: 20%;
}
